<h2 >This is secure page</h2>

<!-- Logout Button -->
<form asp-action="Logout" asp-controller="Home" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

 <h2>@ViewBag.Message</h2> 